/*#region general-utility*/

:root {
    --primary-color: #ff6900;
    --secondary-color: #ebebeb;
    --dark-color: #1a1a1a;
    --background-color: #ffffff;
    --big-discount-color: #ff0000;
    --renewable-color: #008000;
}

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;

}

/*#endregion general-utility*/

/*#region debug*/
.debug {

    header {
        background-color: red;

        section {
            background-color: orange;

            nav {
                background-color: blue;

            }

            div {
                background-color: rosybrown;


            }
        }
    }

    main {
        background-color: green;

        section {
            background-color: lightblue;

            div {
                background-color: blueviolet;
            }
        }
    }

    footer {
        background-color: pink;

        section {
            background-color: orange;

            div {
                background-color: aqua;
            }
        }
    }
}

/*#endregion debug*/


/*#region header*/

header {

    section {
        width: 70%;
        position: sticky;
        justify-self: center;
        justify-content: space-between;

        .logo-container {
            margin: 0.5rem 0;

            /*applied here but moves all elements in header*/
            img {
                height: 30px;

            }

        }

        nav {
            gap: 1rem;
            align-items: center;
        }

        div {}
    }
}

/*#region header*/

/*#region main*/
main {
    justify-self: center;
    width: 70%;

    section {
        justify-content: space-between;
        padding: 3rem 0;

        div {
            padding: 0;
            /*placeholder*/
        }
    }
}

/*#endregion main*/

/*#region footer*/
footer {
    justify-self: center;
    width: 70%;

    section {
        justify-content: space-between;

        div {}
    }
}

/*#endregion footer*/