/*#region general-utility*/

:root {
    --primary-color: #ff6900;
    --secondary-color: #ebebeb;
    --dark-color: #1a1a1a;
    --background-color: #ffffff;
    --big-discount-color: #ff0000;
    --renewable-color: #008000;
}

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.d-flex {
    display: flex;

}

/*#endregion general-utility*/

/*#region debug*/
.debug {

    header {
        background-color: red;

        section {
            background-color: orange;

            nav {
                background-color: blue;

            }

            div {
                background-color: rosybrown;


            }
        }
    }

    main {
        background-color: green;

        section {
            background-color: lightblue;

            div {
                background-color: blueviolet;
            }
        }
    }

    footer {
        background-color: pink;

        section {
            background-color: orange;

            div {
                background-color: aqua;
            }
        }
    }
}

/*#endregion debug*/


/*#region header*/

header {
    background-color: var(--primary-color);

    section {
        width: 70%;
        position: sticky;
        justify-self: center;
        justify-content: space-between;

        .logo-container {
            margin: 0.5rem 0;

            /*applied here but moves all elements in header*/
            img {
                height: 30px;

            }

        }

        nav {
            gap: 1rem;
            align-items: center;
        }
    }
}

/*#endregion header*/

/*#region main*/
main {
    background-color: var(--background-color);
    justify-self: center;
    width: 70%;

    section {
        justify-content: space-evenly;
        padding: 3rem 0;

        .img-container {
            background-color: var(--secondary-color);
            position: relative;
            height: 550px;

            img {
                height: 550px;
            }

            img:last-of-type {
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;

            }

            &:hover {

                img:first-of-type {
                    z-index: -1;
                }

                img:last-of-type {
                    z-index: 1;

                }

            }

            .img-info-container {
                position: absolute;
                left: 0;
                bottom: 4rem;
                z-index: 3;

                span {
                    padding: 0.75rem 1rem;
                }

            }

            i {
                z-index: 3;
                position: absolute;
                top: 10px;
                right: 0;
            }


            .discount {
                background-color: var(--big-discount-color);
                margin-right: 10px;

            }

            .renewable {
                background-color: var(--renewable-color);

            }

            div:nth-of-type(2) {
                color: grey;
            }

            div:last-of-type {
                font-weight: bold;
            }

            div:last-of-type span:first-of-type {
                color: var(--big-discount-color);
            }

            div:last-of-type span:last-of-type {
                color: grey;
                text-decoration: line-through;
            }

        }
    }




}


/*#endregion main*/

/*#region footer*/
footer {
    background-color: var(--dark-color);
    justify-self: center;
    width: 100%;

    margin-top: 3rem;

    section {
        width: 70%;
        justify-content: space-between;


    }
}

/*#endregion footer*/